:host{
  background-color: rgba(0, 0, 255, 0.548);
  position: absolute;
  right: 5px;
  top: 1%;
  width: 25%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  
}

p{
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}